<html>

<body>

<p>Das Umfrage-Tacking-Projekt basiert auf <b>R Shiny</b>. Der gesamte Code ist frei und offen auf <a href="https://github.com/dominiklawetzky/sonntagsfrage">GitHub</a>. Aufgrund fehlender Schnittstellen der Umfrage-Institute müssen die Daten manuell eingepflegt und in lesbare Datensätze umgewandelt werden. Der Hauptdatensatz <em>dataset</em> liegt in Longformat vor:</p>

<!--begin.rcode
head(dataset)

summary(dataset)
end.rcode-->

<strong>Nutzen Sie die Plotly-Toolbar, die oben rechts im Plot angezeigt wird, sobald Sie Ihre Maus auf den Plot bewegen.</strong>


</body>
</html>
